* {
    font-family: 'Ubuntu Mono', monospace;
}


.headerMain {
  color: blue;
  background-color: aqua;
  padding: 10px;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sectionMain {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
